@model PersonResponse

@{
    ViewBag.Title = "Delete Person";
}

<a href="~/persons/index" class="link-hover">Back to Persons</a>
<h2>Edit Person</h2>

<div class="container w-50">
    <form asp-controller="Persons" asp-action="Delete" class="" method="post">
        <input asp-for="PersonID" type="hidden" />
        @*Person Name*@
        <div class="form-field flex">
            <div class="w-25"><label class="form-label pt" for="PersonName">Name : </label></div>
            <div class="w-75"><input asp-for="PersonName" class="form-input" disabled/>
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
           
        </div>

        @*Email*@
        <div class="form-field flex">
            <div class="w-25"><label class="form-label pt" for="Email">E-mail : </label></div>
            <div class="w-75">
                <input asp-for="Email" class="form-input" disabled />
                <span asp-validation-for="Email"></span>
            </div>
            
        </div>

       
       
        <div class="form-field flex">
            <div class="w-25"></div>
            <div class="w-75">
                <button type="submit" class="button button-red-back link-hover">Delete</button>

                @if(ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                        @foreach (string error in ViewBag.Errors)
                        {
                            <li class="ml">@error</li>
                        }
                        </ul>
                    </div>   
                }
            </div>
        </div>
    </form>
</div>
